In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
nfl_frame = pd.read_clipboard()

In [3]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Dallas,Cowboys,493,367,6,0.573,1960.000,866,NFC,East,NaN
1,2,Green,Bay,Packers,730,553,37.000,0.567,1921,"1,320",NFC,North
2,3,Chicago,Bears,744,568,42,0.565,1920.000,"1,354",NFC,North,NaN
3,4,Miami,Dolphins,439,341,4,0.563,1966.000,784,AFC,East,NaN
4,5,New,England,Patriots,476,383,9.000,0.554,1960,868,AFC,East
5,6,New,York,Giants,684,572,33.000,0.543,1925,"1,289",NFC,East

In [4]:
nfl_frame.columns

Index(['Rank', 'Team', 'Won', 'Lost', 'Tied', 'Pct.', 'First', 'NFL', 'Season',
       'Total', 'Games', 'Division'],
      dtype='object')

In [5]:
nfl_frame['First']

0     0.573
1    37.000
2     0.565
3     0.563
4     9.000
5    33.000
Name: First, dtype: float64

In [6]:
nfl_frame.Team

0     Dallas
1      Green
2    Chicago
3      Miami
4        New
5        New
Name: Team, dtype: object

In [10]:
nfl_frame[['Team', 'Won']]

      Team       Won
0   Dallas   Cowboys
1    Green       Bay
2  Chicago     Bears
3    Miami  Dolphins
4      New   England
5      New      York

In [11]:
DataFrame(nfl_frame, columns=['Team', 'First', 'Season'])

      Team   First Season
0   Dallas   0.573    866
1    Green  37.000   1921
2  Chicago   0.565  1,354
3    Miami   0.563    784
4      New   9.000   1960
5      New  33.000   1925

In [12]:
DataFrame(nfl_frame, columns=['Team', 'First', 'Season', 'Stadium'])

      Team   First Season  Stadium
0   Dallas   0.573    866      NaN
1    Green  37.000   1921      NaN
2  Chicago   0.565  1,354      NaN
3    Miami   0.563    784      NaN
4      New   9.000   1960      NaN
5      New  33.000   1925      NaN

In [13]:
nfl_frame.head()

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Dallas,Cowboys,493,367,6,0.573,1960.000,866,NFC,East,NaN
1,2,Green,Bay,Packers,730,553,37.000,0.567,1921,"1,320",NFC,North
2,3,Chicago,Bears,744,568,42,0.565,1920.000,"1,354",NFC,North,NaN
3,4,Miami,Dolphins,439,341,4,0.563,1966.000,784,AFC,East,NaN
4,5,New,England,Patriots,476,383,9.000,0.554,1960,868,AFC,East

In [14]:
nfl_frame.head(3)

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Dallas,Cowboys,493,367,6,0.573,1960.000,866,NFC,East,NaN
1,2,Green,Bay,Packers,730,553,37.000,0.567,1921,"1,320",NFC,North
2,3,Chicago,Bears,744,568,42,0.565,1920.000,"1,354",NFC,North,NaN

In [15]:
nfl_frame.tail()

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
1,2,Green,Bay,Packers,730,553,37.000,0.567,1921,"1,320",NFC,North
2,3,Chicago,Bears,744,568,42,0.565,1920.000,"1,354",NFC,North,NaN
3,4,Miami,Dolphins,439,341,4,0.563,1966.000,784,AFC,East,NaN
4,5,New,England,Patriots,476,383,9.000,0.554,1960,868,AFC,East
5,6,New,York,Giants,684,572,33.000,0.543,1925,"1,289",NFC,East

In [16]:
nfl_frame.tail(3)

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
3,4,Miami,Dolphins,439,341,4,0.563,1966.000,784,AFC,East,NaN
4,5,New,England,Patriots,476,383,9.000,0.554,1960,868,AFC,East
5,6,New,York,Giants,684,572,33.000,0.543,1925,"1,289",NFC,East

In [17]:
nfl_frame.ix[3]

Rank               4
Team           Miami
Won         Dolphins
Lost             439
Tied             341
Pct.               4
First          0.563
NFL             1966
Season           784
Total            AFC
Games           East
Division         NaN
Name: 3, dtype: object

In [18]:
nfl_frame['Stadium'] = "Levi's Stadium"

In [19]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division,Stadium
0,1,Dallas,Cowboys,493,367,6,0.573,1960.000,866,NFC,East,NaN,Levi's Stadium
1,2,Green,Bay,Packers,730,553,37.000,0.567,1921,"1,320",NFC,North,Levi's Stadium
2,3,Chicago,Bears,744,568,42,0.565,1920.000,"1,354",NFC,North,NaN,Levi's Stadium
3,4,Miami,Dolphins,439,341,4,0.563,1966.000,784,AFC,East,NaN,Levi's Stadium
4,5,New,England,Patriots,476,383,9.000,0.554,1960,868,AFC,East,Levi's Stadium
5,6,New,York,Giants,684,572,33.000,0.543,1925,"1,289",NFC,East,Levi's Stadium

In [20]:
nfl_frame['Stadium'] = np.arange(6)

In [21]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division,Stadium
0,1,Dallas,Cowboys,493,367,6,0.573,1960.000,866,NFC,East,NaN,0
1,2,Green,Bay,Packers,730,553,37.000,0.567,1921,"1,320",NFC,North,1
2,3,Chicago,Bears,744,568,42,0.565,1920.000,"1,354",NFC,North,NaN,2
3,4,Miami,Dolphins,439,341,4,0.563,1966.000,784,AFC,East,NaN,3
4,5,New,England,Patriots,476,383,9.000,0.554,1960,868,AFC,East,4
5,6,New,York,Giants,684,572,33.000,0.543,1925,"1,289",NFC,East,5

In [22]:
stadiums = Series(["Levi's stadium", "AT&T Stadium"], index=[4, 0])

In [23]:
stadiums

4    Levi's stadium
0      AT&T Stadium
dtype: object

In [24]:
nfl_frame['Stadium'] = stadiums

In [25]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division,Stadium
0,1,Dallas,Cowboys,493,367,6,0.573,1960.000,866,NFC,East,NaN,AT&T Stadium
1,2,Green,Bay,Packers,730,553,37.000,0.567,1921,"1,320",NFC,North,NaN
2,3,Chicago,Bears,744,568,42,0.565,1920.000,"1,354",NFC,North,NaN,NaN
3,4,Miami,Dolphins,439,341,4,0.563,1966.000,784,AFC,East,NaN,NaN
4,5,New,England,Patriots,476,383,9.000,0.554,1960,868,AFC,East,Levi's stadium
5,6,New,York,Giants,684,572,33.000,0.543,1925,"1,289",NFC,East,NaN

In [26]:
del nfl_frame['Stadium']

In [27]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Dallas,Cowboys,493,367,6,0.573,1960.000,866,NFC,East,NaN
1,2,Green,Bay,Packers,730,553,37.000,0.567,1921,"1,320",NFC,North
2,3,Chicago,Bears,744,568,42,0.565,1920.000,"1,354",NFC,North,NaN
3,4,Miami,Dolphins,439,341,4,0.563,1966.000,784,AFC,East,NaN
4,5,New,England,Patriots,476,383,9.000,0.554,1960,868,AFC,East
5,6,New,York,Giants,684,572,33.000,0.543,1925,"1,289",NFC,East

In [28]:
data = {'City': ['SF', 'LA', 'NYC'], 'Population': [837000, 3880000, 8400000]}

In [29]:
data

{'City': ['SF', 'LA', 'NYC'], 'Population': [837000, 3880000, 8400000]}

In [30]:
city_frame = DataFrame(data)

In [31]:
city_frame

  City  Population
0   SF      837000
1   LA     3880000
2  NYC     8400000