In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

from numpy.random import randn

### 階層のindexにする

In [3]:
ser1 = Series(randn(6), index=[[1,1,1,2,2,2], ['a', 'b', 'c', 'a', 'b', 'c']])

In [4]:
ser1

1  a    0.506759
   b    0.187648
   c   -0.593883
2  a   -0.135469
   b   -1.399458
   c   -0.271941
dtype: float64

In [5]:
ser1.index

MultiIndex(levels=[[1, 2], ['a', 'b', 'c']],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [6]:
ser1[1]

a    0.506759
b    0.187648
c   -0.593883
dtype: float64

In [8]:
ser1

1  a    0.506759
   b    0.187648
   c   -0.593883
2  a   -0.135469
   b   -1.399458
   c   -0.271941
dtype: float64

In [9]:
ser1[:, 'a']

1    0.506759
2   -0.135469
dtype: float64

### 階層indexのSeriesからDataFrameを作る

In [11]:
dframe = ser1.unstack()

In [12]:
dframe

          a         b         c
1  0.506759  0.187648 -0.593883
2 -0.135469 -1.399458 -0.271941

In [13]:
dframe.unstack()

a  1    0.506759
   2   -0.135469
b  1    0.187648
   2   -1.399458
c  1   -0.593883
   2   -0.271941
dtype: float64

In [14]:
dframe.T.unstack()

1  a    0.506759
   b    0.187648
   c   -0.593883
2  a   -0.135469
   b   -1.399458
   c   -0.271941
dtype: float64

### DataFrameから階層index

In [16]:
dframe2 = DataFrame(np.arange(16).reshape((4 ,4)),
                   index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                   columns=[['NY', 'NY', 'LA', 'SF'], ['cold', 'hot', 'hot', 'cold']])

In [17]:
dframe2

      NY      LA   SF
    cold hot hot cold
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15

In [18]:
dframe2.index.names = ['INDEX_1', 'INDEX_2']

In [19]:
dframe2

                  NY      LA   SF
                cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [20]:
dframe2.columns.names = ['Cities', 'Temp']

In [21]:
dframe2

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [22]:
dframe2.swaplevel('Cities', 'Temp', axis=1)

Temp            cold hot     cold
Cities            NY  NY  LA   SF
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [24]:
dframe2.sortlevel(1).sortlevel(0)

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

### levelごとの計算

In [25]:
dframe2.sum(level='Temp', axis=1)

Temp             cold  hot
INDEX_1 INDEX_2
a       1           3    3
        2          11   11
b       1          19   19
        2          27   27